<div class="jumbotron" ng-hide="print">
	<h1>Grocery List</h1>

	<p>Use the print button!</p>
</div>
<a href="https://github.com/jakecoffman/grocery">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right">
				<button class="btn btn-primary" ng-click="myData.unshift({location:'New',edit:true,data:[{}]})">
					<i class="fa fa-plus fa-sm"></i>
				</button>
				<a class="btn btn-primary" href="#/print">
					<i class="fa fa-print"></i>
				</a>
				<button class="btn btn-danger" ng-click="open()">
					<i class="fa fa-file-o"></i>
				</button>
			</div>
			<div ng-repeat="d in myData track by $index">
				<h2>
					<a editable-text="d.location">{{d.location || "Location" }}</a>
					<button class="btn btn-danger" ng-click="myData.splice($index, 1);" ng-hide="print">
						<i class="fa fa-trash-o"></i>
					</button>
				</h2>

				<table class="table table-bordered table-striped table-hover table-condensed">
					<colgroup>
						<col style="width: 60%">
						<col style="width: 40%">
					</colgroup>
					<thead>
					<tr>
						<th>Name</th>
						<th>Quantity</th>
						<th>
							<button class="btn btn-primary" ng-click="d.data.unshift({name: '', quantity: '', unit: ''})" ng-hide="print">
								<i class="fa fa-plus"></i>
							</button>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="i in d.data track by $index">
						<td ng-model="i.name" contenteditable class="readable"></td>
						<td ng-model="i.quantity" contenteditable class="readable"></td>
						<td>
							<button class="btn btn-danger" ng-click="d.data.splice($index, 1);">
								<i class="fa fa-trash-o"></i>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>